/* You can add global styles to this file, and also import other style files */
.vh {
  height: 100vh !important;
}

.oi-margin {
  margin-right: 4px;
}

.container-navbar-adjust {
  margin-top: 72px !important;
  padding-top: 16px;
}
